In [1]:
import pandas as pd

In [2]:
data = [[1,2,3],[4,5,6],[7,8,9]]
data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [3]:
list('321')

['3', '2', '1']

In [6]:
df = pd.DataFrame(data, list('321'), list('ZYX'))
df

   Z  Y  X
3  1  2  3
2  4  5  6
1  7  8  9

In [8]:
df.sort_index(inplace = True)
df

   Z  Y  X
1  7  8  9
2  4  5  6
3  1  2  3

In [9]:
df.sort_index(inplace = True,axis = 1)

df.sort_values(by = True, by = '3', True,'X', i)
df