# Formas de Seleção

In [1]:
import pandas as pd

In [2]:
'11 12 13 14 15'.split()

['11', '12', '13', '14', '15']

In [5]:
data = [(1, 2, 3, 4),
        (5, 6, 7, 8),
        (8, 10, 11, 12),
        (13, 14, 15, 16)]
df = pd.DataFrame(data, 'l1 l2 l3 l4'.split(), 'c1 c2 c3 c4'.split())
df

    c1  c2  c3  c4
l1   1   2   3   4
l2   5   6   7   8
l3   8  10  11  12
l4  13  14  15  16

In [6]:
df['c1']

l1     1
l2     5
l3     8
l4    13
Name: c1, dtype: int64

In [7]:
type(df['c1'])

pandas.core.series.Series

In [9]:
df[['c3','c1']]

    c3  c1
l1   3   1
l2   7   5
l3  11   8
l4  15  13

In [10]:
type(df[['c3','c1']])

pandas.core.frame.DataFrame

In [15]:
df[1:]

    c1  c2  c3  c4
l2   5   6   7   8
l3   8  10  11  12
l4  13  14  15  16

In [16]:
df[1:3]

    c1  c2  c3  c4
l2   5   6   7   8
l3   8  10  11  12

In [18]:
df[1:2]

    c1  c2  c3  c4
l2   5   6   7   8

In [29]:
df.loc[['l3','l2'],['c3']]

    c3
l3  11
l2   7

In [31]:
df.loc[['l1'],['c2']]

    c2
l1   2

In [32]:
df.iloc[[1],[2]]

    c3
l2   7

In [33]:
df.iloc[[1,2],[1,2]]

    c2  c3
l2   6   7
l3  10  11

In [34]:
df

    c1  c2  c3  c4
l1   1   2   3   4
l2   5   6   7   8
l3   8  10  11  12
l4  13  14  15  16

In [24]:
df.iloc[2]

c1     8
c2    10
c3    11
c4    12
Name: l3, dtype: int64